.container{
    display: flex;
    width:80%;
    margin-bottom: 30px;
    margin: auto;
}

#root{
    display: grid;
    grid-gap: 40px;
    flex-direction: column;
    grid-template-columns: repeat(4, 4fr);
    width: 70%;
    margin: auto;
    
}
.cartBox{
    
    padding: 15px;
    width: 200%;
    text-align: center;
    margin-left: 20px;
    background-color: #eee;
    border-radius: 5px;
}
.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: x-large;

}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;

}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(118, 17, 143);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #da981e;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(223, 164, 39);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}
#cartItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product img {
    width: 100px;  
    height: auto;
    margin-right: 20px;
}

.product h2 {
    margin: 0px;
    font-size: 1.2em;
    color: #000;
}

.product p {
    margin: 10px;
    font-size: 1.2em;
    color: #555;
    


}



.foot h3 {
    margin: 0;
}

.foot h2 {
    margin: 0;
    color: red;
}
    



.orButton{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(118, 17, 143);
    cursor: pointer;
    color: white;
    margin: 20px 0px;
}
.orButton:hover{
    background-color: #da981e;
}

.placeOderSection{

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 20px;
    padding: 0px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 30%;
    margin: auto;
  
   
    
}
