body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: antiquewhite;
  
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  border-radius: 20px;
  background-color: darkorchid;
  height: 50px;
  
}
nav {
  position: relative;
  width: 100%;
  margin-top: -20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#cart-icon {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    filter: invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#count {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: purple;
    color: white;
    position: absolute;
    top: -10px;
    right: 0px;
    align-items: center;
    justify-content: center;
    display: flex;

}


nav ul li {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: row;
    align-items: center;

    height: auto;
  }

  #cart-icon {
    height: 10x;
    width: 10px;
  }
  nav ul li {
    margin: 0 10px;
  }
  #ourPro {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  #cart-icon {
    height: 10px;
    width: 10px;
  }
}
@media screen and (max-width: 1366px) {
  #cart-icon {
    height: 30px;
    width: 30px;
    top: 10px;
    margin-right: 15px;
  }
  nav ul {
    justify-content: center;
  }
  nav ul li {
    margin: 0 12px;
  }
}
@media screen and (max-width: 915px) {
  #cart-icon {
    height: 17px;
    width: 17px;
  }
  nav ul li {
    font-size: 10px;
  }
  nav ul {
    height: 30px;
  }
}
